@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,300;0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");

/*Sets the root element font size*/

html {
    font-size: 20px; 
}

/* Main background image, code found on W3 Schools*/

body, html {
    height: 100%;
}

.background {
    background-image: url("../images/durham_cathedral_dark_2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*Background-size cover, scales the background image, covers the whole background and keeps the image in proportion*/
}

/*Navigation bar*/

.menu-nav-bar .menu-text {
    font-family: 'Alegraya', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    height: 3.5rem;  
    color: #dedede;  
}

.menu-icon {
    font-size: 2rem;
    font-weight: 300;
    color: #dedede;
}
